<%- include('partials/header'); -%>

<header>
	<div class="smoothie">
		<img
			src="/smoothie.png"
			alt=""
		/>
	</div>
	<div class="headings">
		<h2>Something gone wrong</h2>
		<h3>404 error, page not found</h3>
		<a
			href="/"
			class="btn"
			>Get back</a
		>
	</div>
</header>

<%- include('partials/footer'); -%>
